@mixin placeholder-color {
    &::placeholder {
        @content;
        opacity: 1;
    }
    &:-ms-input-placeholder { 
        @content;
    }
    &::-ms-input-placeholder { 
        @content;
    }
}