.btn {
    width: 100%;
    height: 65px;
    border: none;
    transition: background-color .3s ease;
    cursor: pointer;
    &--mt57 {
        margin-top: 57px;
    }
    &--blue {
        color: #fff;
        background-color: #4A90E2;
        box-shadow: 0 10px 15px rgba(#4A90E2, .3);
        &:hover {
            background-color: lighten(#4A90E2, 5);
        }
    }
}
