.form {
    width: var(--form-container-w);
    padding: 120px 70px 60px 70px;
    margin: 0 auto;
    position: relative;
    top: var(--box-pos-y);
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 20px 60px rgba(#000000, .05);
    &__circle {
        width: var(--form-circle-size);
        height: var(--form-circle-size);
        position: absolute;
        top: calc(var(--form-circle-size) / -2);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        border: .5px solid #BBBBBB;
        background: #fff url("../img/person.svg") no-repeat 40% 40%;
    }
    &__warn {
        display: table;
        margin: 0 auto;
        color: #4A90E2;
        text-align: center;
        font-weight: 800;
        &--mt37 {
            margin-top: 37px;
        }
    }
    &Group {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        &--mt37 {
            margin-top: 37px;
        }
        &__text {
            font-size: 15px;
            color: #3C3C3C;
            letter-spacing: 0;
            margin-bottom: 12px;
        }
        &__input {
            height: 65px;
            color: #BBBBBB;
            padding: 0 20px;
            font-size: 17px;
            border-radius: 5px;
            border: .5px solid #BBBBBB;
            @include placeholder-color {
                color: #BBBBBB;
            }
        }
    }
}